/* GENGERAL */
body {
  background-color: #329cb2;
}
.home > img {
  height: calc(100vh - 50px);
  width: 100vw;
  object-fit: cover;
}
.container {
  max-width: 1024;
  margin: 0 auto;
}

/* HEADER */
.header {
  background-color: white;
  height: fit-content;
  /* margin-top: 10px; */
}

.header-img {
  height: 40px;
  border-radius: 5px;
  box-shadow: 0 5px 10px #333333;
}

.header-max {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header button {
  border: none;
  background-color: #329cb2;
  color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 5px 10px #333333;
  transition: all 0.1s;
}

.header button:active {
  transform: translate(2px, 2px);
}

.header-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: 10px 0px;
}
.input {
  width: 100%;
  padding: 5px;
  outline: none;
  border: none;
  background-color: #329cb2;
  color: white;
  border-radius: 5px;
  box-shadow: 0 5px 10px #333333;
}

::placeholder {
  color: rgb(189, 185, 185);
  text-align: center;
}

/* SIGNUP/LOGIN */
.form-connexion {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-form {
  display: flex;
  justify-content: center;
}

.button-link {
  border: none;
  background-color: #fff;
  text-decoration: underline;
  color: black;
}

.button-form button {
  border: none;
  background-color: #339cb3;
  color: white;
  border-radius: 3px;
  padding: 10px 40px;
  box-shadow: 0 5px 10px #333333;
  transition: all 0.1s;
}

.button-form button:active {
  transform: translate(2px, 2px);
}

.form-connexion input {
  border: none;
  border-bottom: 1px solid rgb(209, 205, 205);
  margin-top: 20px;
  outline: none;
}
.form-connexion p {
  display: flex;
  justify-content: center;
}

.title-h1 {
  text-shadow: 5px 5px 10px #333333;
  width: fit-content;
  margin: auto;
  padding: 5px;
  border-radius: 5px;
}

/* PAGE QUESTION */
.page-question {
  background-color: #329cb2;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  overflow-y: scroll;
}

.container-question {
  max-width: 420px;
  margin: 0 auto;
}

.container-question > p {
  color: white;
  padding: 20px 0px;
}

.container-bloc {
  max-height: fit-content;
  max-width: 800px;
  margin: 0 auto;
  background-color: white;
  border-radius: 5px;
  margin-top: 20px;
  padding: 20px;
  text-align: justify;
}
textarea {
  border-radius: 10px;
  outline: none;
  /* padding: 10px; */
  width: 100%;
  height: 100%;
  border: none;
  resize: none;
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
}

.page-question button {
  background-color: #fff;
  border: none;
  margin-top: 20px;
  border-radius: 5px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.buttons button {
  box-shadow: 0 5px 10px #333333;
  transition: all 0.1s;
}

.buttons button:active {
  transform: translate(2px, 2px);
}

.dots {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-message {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  color: white;
}
/* LISTE */

.page-list {
  padding: 20px 0px;
  background-color: #329cb2;
  color: white;
}

.container-list {
  max-width: 1000px;
  margin: 0 auto;
}
.list {
  border-width: 5px;
  border-style: double;
  margin: 20px auto;
  text-align: justify;
  box-shadow: 0 5px 10px #333333;
}

.request,
.response {
  padding: 10px;
}

.trait {
  border: 1px solid;
}

/* MODAL */
.modal-root {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(200, 200, 200, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  height: 400px;
  width: 300px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.modal button {
  align-self: flex-end;
  margin: 20px;
}

@media (max-width: 473px) {
  .App > img {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
  }

  .header-flex {
    display: flex;
    justify-content: center;
    gap: 30px;
  }

  .header-max {
    display: block;
  }

  .hidden {
    display: none;
  }
}
